{{!-- <h1>{{title}}</h1> --}}

<h2>This is the index</h2>
<p>Welcome to {{title}}</p>

<button><a href="./celebrities/create">Add a Celebrity</a></button>

<a href="./celebrities">See List of Celebrities</a>
<br />
<button><a href="./movies/new-movie">Add a Movie</a></button>

<a href="./movies">See List of Movies</a>