<h2>Add a Movie </h2>
<form action="/movies/create" method="POST">
  <label>Title: </label>
  <input type="text" name="title" />
  <br />
  <label>Genre: </label>
  <input type="text" name="genre" />
  <br />
  <label>Plot: </label>
  <input type="text" name="plot" />
  <br />
  <label>Cast: </label>
  <input type="text" name="" />
  <br />
  <button type="submit">Add</button>
</form>